/* color scheme

Blue: #0d182c
Light Blue:
White:


*/

@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);
@import url('https://fonts.googleapis.com/css?family=Roboto');
h1,
h2,
h3 {
	font-family: 'Black Ops One', cursive;
}

p {
	font-family: 'Roboto', sans-serif;
}

nav {
	margin: 20px 0 10px 0;
	font-size: 20px;
}

.nav>li {
	position: relative;
	display: block;
	line-height: 40px;
	text-align: center;
}

a {
	color: #ffffff;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	color: #fff;
	background-color: #0d182c;
}

.text-pop {
	background-color: rgba(255, 255, 255, 0.49);
	color: #0d182c;
}

.header-bkd {
	background-color: #151d2f;
}

.header {
	padding: 0 20px;
}

.header h1 {
	font-family: 'Black Ops One', cursive;
	color: #ffffff;
	margin: 0;
}

.logo-img {
	width: 70px;
}

.fa-star {
	font-size: 40px;
	margin-top: 15px;
	margin-left: 5px;
}

.vertical-center {
	min-height: 100%;
	/* Fallback for browsers do NOT support vh unit */
	display: flex;
	align-items: center;
}

.overlay {
	background-color: rgba(255, 255, 255, 0.59);
	height: 800px;
}

#intro-section {
	background-image: url(img/Davis-Monthan_Air_Force_Base.jpg);
}

#section-one {
	background-image: url(img/JohnnyInTheJetSon.jpg);
}

#section-two {
	background-image: url(img/TopOfA10.JPG);
}

#section-three {
	background-image: url(img/Squadron_Art.jpg);
}

.parallax {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
}

.jumbotron {
	background-color: transparent;
	text-align: center;
	color: #0d182c;
}

.jumbotron img {
	width: 200px;
}

.scroll-down {
	text-align: center;
	font-size: 40px;
}

footer {
	background-color: #0d182c;
	color: #ffffff;
	text-align: center;
	padding: 10px 0;
}